* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open-sans", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.jumbotron {
  background-image: url(/public/img/jumbotron.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
}

.footer {
  background-image: url(../public/img/footer-bg.jpg);
  background-size: cover;
  background-position: center;
}

.comic-cover {
  width: 150px;
  height: 225px;
  object-fit: cover;
  background: black;
}
